@import url('https://fonts.google.com/specimen/Arimo?category=Sans+Serif#standard-styles');
html,
body {
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #40a8ba;
}

p li {
    color: black;
}

html * {
    font-family: 'Arimo', 'Roboto', 'Open Sans', sans-serif;
}

.mot-content {
    /*mirar si se puede eliminar*/
    flex-grow: 1;
}

#mot-custom-div {
    /*mirar si se puede eliminar*/
    margin-bottom: 75px;
}

.uk-navbar-nav>li>a {
    color: black;
    padding: 0 40px;
    font-size: 0.97rem;
}

.mot-active {
    color: #40a8ba !important;
}

.uk-navbar-nav>li:hover>a {
    color: #40a8ba;
    transition: color 0.3s ease-in 0s;
}

.uk-navbar-dropdown-nav>li:hover>a {
    color: #40a8ba;
    transition: color 0.3s ease-in 0s;
}

.mot-fondo-azul {
    background-color: #40a8ba;
}


/* pruebas: para cambiar el color de los simbolos del carrusel y modificar altura sections*/

.uk-slidenav-previous {
    color: #c5c5c5;
}

.uk-slidenav-next {
    color: #c5c5c5;
}


/* altura de los divs */

.uk-height-large {
    height: 500px;
}

.uk-h1 {
    color: black;
}

.mot-height-medium {
    height: 250px;
}

.mot-columna-izquierda {
    padding: 2% 2% 2% 12%;
}

.mot-columna-derecha {
    padding: 2% 12% 2% 2%;
}

.mot-columna-izquierda2 {
    padding: 2% 2% 2% 25%;
}

.mot-columna-derecha2 {
    padding: 2% 25% 2% 2%;
}

.mot-fondo-amarillo {
    background-color: #f9c00e;
}

.mot-fondo-amarillo-claro {
    background-color: #f8d556;
}

.mot-fondo-morado {
    background-color: #a063a5;
}

.mot-fondo-morado-claro {
    background-color: #a273a5;
}

#movil_white>li {
    border-bottom: 1px solid white;
}

#movil_white>li>a {
    color: white;
}

#movil_white_sub>li>a {
    color: white;
}

.mot-color-azul {
    color: #40a8ba;
}

.mot-linea-azul {
    border: 2px solid #40a8ba;
}

.mot-barra-amarilla {
    border: 1.5px solid #f9c00e;
    background: #f9c00e;
    margin-top: 49px;
}

.mot-barra-amarilla-pequeña {
    border: 1.5px solid #f9c00e;
    background: #f9c00e;
    margin-top: 49px;
    width: 50%;
    margin: auto;
}

.mot-margin-left {
    margin-left: 30%;
}

@media screen and (max-width: 1900px) {
    .mot-margin-left {
        margin-left: 15%;
    }
}

@media screen and (max-width: 1200px) {
    .mot-margin-left {
        margin-left: 10%;
    }
}

@media screen and (max-width: 959px) {
    .mot-margin-left {
        margin-left: 0%;
    }
}

.mot-left {
    left: -5%;
}

.mot-left:hover {
    color: #40a8ba;
}

.mot-right {
    right: -5%;
}

.mot-right:hover {
    color: #40a8ba;
}

.mot-border-bottom-black {
    border-bottom: 1px solid black;
}

.mot-up:hover {
    color: #40a8ba;
}

.uk-offcanvas-bar {
    background-color: rgb(64,168,186);
}

@media screen and (max-width: 639px) {
    .mot-icono-footer {
        width: 50px;
    }
}

@media screen and (max-width: 639px) {
    .mot-text-responsive-h1 {
        font-size: 1.5rem;
    }
    .mot-text-responsive-h2 {
        font-size: 1rem;
    }
    .mot-text-responsive-h3 {
        font-size: 0.95rem;
    }
}

/* Divider
 ========================================================================== */
 .uk-grid-divider > * {
    position: relative; }
  
  .uk-grid-divider > :not(.uk-first-column)::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 3px solid #F9C00E; }
  
  /* Vertical */
  .uk-grid-divider.uk-grid-stack > .uk-grid-margin::before {
    content: "";
    position: absolute;
    left: 2;
    right: 0;
    border-top: 3px solid #F9C00E; }

/* footer movil */
footer > div {
    height: 52px;
   
}

/*Formas*/
.mot-contenedor-forma {
    min-height: 100px;
    position: relative;
}

.mot-redonda {
    position: absolute;
    width: 55px;
    height: 55px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #F9C00E;
}

.mot-cuadrado {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #F9C00E;
}

.mot-circulo {
    position: absolute;
    width: 80px;
    height: 80px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 20px solid #F9C00E;
}

.mot-rectangulo {
    position: absolute;
    width: 95px;
    height: 25px;
    background: #F9C00E;
}