@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300&display=swap');

html, body {
    height: 100%;
    width: 100%;
    
}

html *
{
  font-family: 'Roboto','Open Sans', sans-serif !important;
}

.mot-content {
    flex-grow: 1;
}

#mot-custom-div {
    margin-bottom: 75px;
}

.mot-custom-button1  {
    
    color:black !important;
    border-color:#f9c00e !important;
    border-width: 4px !important;
    border-style: solid;
    font-weight: bold !important;
}

.mot-custom-button1:hover{
    background-color:#40a8ba !important;
    color:white !important;
   
    
}
.mot-custom-button2 {
    background-color:white !important;
    border-color:#40a8ba !important;
    border-width: 4px !important;
    border-style: solid !important;
    font-weight: bold !important;
    color:black !important;

}
.mot-custom-button2:hover{
    color:white !important;
    background-color:#40a8ba !important;
    border-color:grey !important;

   
    
}

/* pruebas: para cambiar el color de los simbolos del carrusel y modificar altura sections*/
.uk-slidenav-previous {
    color: #C5C5C5 !important;
}

.uk-slidenav-next {
    color: #C5C5C5 !important;
}

/* altura de los divs*/
.uk-height-large {
    height: 500px !important;
}

/*menu movil*/
svg[data-svg="close-icon"] {
    color: white;
  }

.uk-nav-parent-icon > .uk-parent > a::after  {
    
    background-image: url(/img/mot-arrow-left.svg)!important;
}

.uk-nav-parent-icon > .uk-parent.uk-open > a::after {
    background-image: url(/img/mot-arrow-down.svg)!important;
}