@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300&display=swap");

html,
body {
  height: 100%;
  width: 100%;
}

html * {
  font-family: "Roboto", "Open Sans", sans-serif;
}

.mot-content {
  flex-grow: 1;
}

#mot-custom-div {
  margin-bottom: 75px;
}

/* nav color blanco al menu de navegacion */
#mot-navbar {
  background-color:white;
}


/* botones */
.mot-custom-button1 {
  color: black;
  border-color: #f9c00e;
  border-width: 4px;
  border-style: solid;
  font-weight: bold;
}

.mot-custom-button1:hover {
  background-color: #40a8ba;
  color: white;
}
.mot-custom-button2 {
  background-color: white;
  border-color: #40a8ba;
  border-width: 4px;
  border-style: solid;
  color: black;
}
.mot-custom-button2:hover {
  color: white;
  background-color: #40a8ba;
  border-color: grey;
}

/* pruebas: para cambiar el color de los simbolos del carrusel 
y modificar altura sections*/
.uk-slidenav-previous {
  color: #c5c5c5;
}

.uk-slidenav-next {
  color: #c5c5c5;
}

/* altura de los divs */
.uk-height-large {
  height: 500px;
}

.mot-height-medium {
  height: 250px;
}

/* menu movil */
svg[data-svg="close-icon"] {
  color: white;
}

.uk-nav-parent-icon > .uk-parent > a::after {
  background-image: url(/img/mot-arrow-left.svg);
}

.uk-nav-parent-icon > .uk-parent.uk-open > a::after {
  background-image: url(/img/mot-arrow-down.svg);
}

#movil_white > li > a {
  color: white;
}

#movil_white_sub > li > a {
  color: white;
}
