.mot-imagen-hero {
    height: 900px;
}

@media screen and (max-width: 2100px) {
    .mot-imagen-hero {
        height: 800px;
    }
}

@media screen and (max-width: 1800px) {
    .mot-imagen-hero {
        height: 700px;
    }
}

@media screen and (max-width: 1400px) {
    .mot-imagen-hero {
        height: 500px;
    }
}

@media screen and (max-width: 1250px) {
    .mot-imagen-hero {
        height: 470px;
    }
}

@media screen and (max-width: 700px) {
    .mot-imagen-hero {
        height: 300px;
    }
}

@media screen and (max-width: 500px) {
    .mot-imagen-hero {
        height: 200px;
    }
}

@media screen and (max-width: 375px) {
    .mot-imagen-hero {
        height: 240px;
    }
}

@media screen and (max-width: 350px) {
    .mot-imagen-hero {
        height: 220px;
    }
}

@media screen and (max-width: 320px) {
    .mot-imagen-hero {
        height: 200px;
    }
}

@media screen and (max-width: 290px) {
    .mot-imagen-hero {
        height: 180px;
    }
}

@media screen and (max-width: 250px) {
    .mot-imagen-hero {
        height: 160px;
    }
}